<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de Contatos</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/tail.js"></script>
<script type="text/javascript">

		window.onload = function() {
			var tail = new Tail();
			document.getElementById("clientIdentifier").value = tail.identifier;
		};

	</script>
</head>
<body>
	<nav
		class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<a class="navbar-brand">Rastreamento</a>
		<ul class="nav navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/preco.html">Preço</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/contato/add">Contato</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/sobre.html">Sobre</a>
			</li>
		</ul>
	</nav>
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal" th:object="${contact}"
				th:action="@{/save}" method="POST" style="margin: 10px">
				<input type="hidden" name="clientIdentifier" id="clientIdentifier" />
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<label>E-mail</label> <input type="text"
									class="form-control input-sm" th:field="*{email}"
									autofocus="autofocus" placeholder="Informe o e-mail"
									maxlength="50" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>